$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-grey-light-1:#f7f7f7;

$color-secondary-light-orange: #ffb900;
$color-secondary-light-oranged:#ff7730;

$color-tertiary-light-blu: #ffb900;
$color-tertiary-light-:#ff7730;

$color-white: #fff;
$color-black: #000;

$default-font-size:1.6rem;